$minHeight: 600px;
$minWidth: 1366px;
$asideWidth: 7.3125rem; //117px

$colorGrey: #5e5e5e;
$colorLightGrey: #b3b3b3;
$colorDeepGrey: #3c3e39;
$colorDarkGrey: #383935;
$colorVioletLight: #8959a7;
$colorYellow: #fff200;
$colorCyan: #168383;
$colorRed: #bc0524;
$colorBg: #f6f6f6;



$bp: (min-width 1760px) (min-height 800px);



@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';
@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/normalize';

@import 'sass/fullPage';
@import 'sass/jquery.mCustomScrollbar';
@import 'sass/slick';
@import 'sass/popup';


@import 'sass/main';
@import 'sass/aside';
@import 'sass/inside';


.c-yell{
	color: $colorYellow;
}

body{
	opacity: 1!important;
}

