aside.aside

	a.aside__logo(href='#welcome')
	.aside__handle: i
	.aside__nav
		ul.nav#fpNav
			li.nav__item.active(data-menuanchor='welcome'): a(href='#welcome')
			li.nav__item(data-menuanchor='main'): a(href='#main')
			li.nav__item(data-menuanchor='gym'): a(href='#gym')
			li.nav__item(data-menuanchor='masters'): a(href='#masters')
			li.nav__item(data-menuanchor='events'): a(href='#events')
			li.nav__item(data-menuanchor='sponsors'): a(href='#sponsors')
			li.nav__item(data-menuanchor='price'): a(href='#price')
			li.nav__item(data-menuanchor='contact'): a(href='#contact')

	.aside__soc
		a(href='#').aside__soc-item.aside__soc-item_vk: img(src='/img/ico/ico-fb-w.svg')
		a(href='#').aside__soc-item.aside__soc-item_tw: img(src='/img/ico/ico-tw-w.svg')
		a(href='#').aside__soc-item.aside__soc-item_ig: img(src='/img/ico/ico-vk-w.svg')

	.aside__content
		.aside__content-list
			.aside__content-item: a(href='#welcome').aside__content-link Main
			.aside__content-item: a(href='#gym').aside__content-link Gym’s
			.aside__content-item: a(href='#masters').aside__content-link Coaches
			.aside__content-item: a(href='#events').aside__content-link Events
			.aside__content-item: a(href='#contact').aside__content-link About us

		.aside__content-info
			.aside__content-contacts Zurich,Fridrichstrasse, 7/ 11
			.aside__content-soc
				.soc__list
					a(href='#').soc__itema.soc__item_vk: img(src='/img/ico/ico-fb-w.svg')
					a(href='#').soc__itema.soc__item_tw: img(src='/img/ico/ico-tw-w.svg')
					a(href='#').soc__itema.soc__item_ig: img(src='/img/ico/ico-vk-w.svg')

