mixin mastersItem(name, dan, license, exp, active)
	.masters__item(class= active ? 'is-active' : '')
		.masters__item-inner
			.masters__item-img: img(src='/img/temp/02.jpg')
			.masters__item-name
				.masters__item-name-main= name
				.masters__item-name-status Fitness Instructor
			.masters__item-dan: i.ico.ico_dan(class='ico_dan-#{dan}')
			.masters__item-license: i.ico.ico_license= license
			.masters__item-exp= exp
			.masters__item-link: a(href='#')