extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var inside = true;
	- var insideTitle = 'EVENTS';

block inside
	.inner.bg-grey
		.content
			.content__title ALL PAST EVENTS
			.content__menu
				.content__menu-list.js-scroll-wrap.js-slick-bottom
					.content__menu-item.is-open
						a(href='#').content__menu-link 2015
						.content__menu-list
							.content__menu-item: a(href='#').content__menu-link ALL
							.content__menu-item.is-active: a(href='#').content__menu-link AUGUST
							.content__menu-item: a(href='#').content__menu-link SEPTEMBER
							.content__menu-item: a(href='#').content__menu-link OCTOBER
							.content__menu-item: a(href='#').content__menu-link NOVENBER
							.content__menu-item: a(href='#').content__menu-link DECEMBER

					.content__menu-item
						a(href='#').content__menu-link 2016
						.content__menu-list
							.content__menu-item: a(href='#').content__menu-link ALL
							.content__menu-item: a(href='#').content__menu-link JANUAR
							.content__menu-item: a(href='#').content__menu-link FEBRUAR
							.content__menu-item: a(href='#').content__menu-link MARZ
							.content__menu-item: a(href='#').content__menu-link APRIL
							.content__menu-item: a(href='#').content__menu-link MAI
							.content__menu-item: a(href='#').content__menu-link JUNI
							.content__menu-item: a(href='#').content__menu-link JULI
							.content__menu-item: a(href='#').content__menu-link AUGUST
							.content__menu-item: a(href='#').content__menu-link SEPTEMBER
							.content__menu-item: a(href='#').content__menu-link OCTOBER
							.content__menu-item: a(href='#').content__menu-link NOVENBER
							.content__menu-item: a(href='#').content__menu-link DECEMBER

					.content__menu-item
						a(href='#').content__menu-link 2017
						.content__menu-list
							.content__menu-item: a(href='#').content__menu-link ALL
							.content__menu-item: a(href='#').content__menu-link JANUAR
							.content__menu-item: a(href='#').content__menu-link FEBRUAR
							.content__menu-item: a(href='#').content__menu-link MARZ

			.content__scroll.js-scroll-wrap.js-slick-bottom
				.event
					- for (var i = 0; i < 30; i++)
						.event__item
							.event__item-photo
								img(src='/img/temp/05.jpg', alt='')
								a.event__item-link.js-load-inside(href='taekwondo_internatioanl_championship_in_munich.html')
							.event__item-info
								.event__item-title Taekwondo Internatioanl Championship in Munich
								.event__item-date #[i.ico] #[span 22-24 november 2016]