extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var inside = true;
	- var insideTitle = 'OUR MASTERS';

block inside
	.inner.bg-grey
		.content
			.content__title ALL MASTERS
			.content__menu
				.content__menu-list.js-scroll-wrap.js-slick-bottom
					.content__menu-item: a(href='#').content__menu-link ALL
					.content__menu-item.is-active: a(href='#').content__menu-link KIDS
					.content__menu-item: a(href='#').content__menu-link TEENS
					.content__menu-item: a(href='#').content__menu-link ADULT

			.content__scroll.js-scroll-wrap.js-slick-bottom
				.masters
					- for (var i = 0; i < 30; i++)
						.masters__item
							.masters__item-img
								img(src='/img/temp/02.jpg')
								.masters__item-link: a.js-load-inside(href='zoran_bregovich.html')
							.masters__item-name
								.masters__item-name-main Konstantinopolsky K.
								.masters__item-name-status Fitness Instructor
							.masters__item-info
								.masters__item-dan: i.ico.ico_dan(class='ico_dan-2')
								.masters__item-license: i.ico.ico_license A
								.masters__item-exp 6 year