extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var inside = true;
	- var insideTitle = 'GYM’S';

block inside
	.double
		.inner.bg-grey
			.content
				.content__title Gallery Zurich Classic Gym

				.content__gallery
					.gallery
						.gallery__big.js-slick-bottom
							.gallery__big-list
								- for (var i = 1; i < 11; i++)
									.gallery__big-item(style='background-image: url(/img/temp/06.jpg)')
									.gallery__big-item(style='background-image: url(/img/temp/07.jpg)')
									.gallery__big-item(style='background-image: url(/img/temp/06.jpg)')
									.gallery__big-item(style='background-image: url(/img/temp/07.jpg)')
							.gallery__big-control
								.gallery__big-arrow.gallery__big-arrow_prev
								.gallery__big-arrow.gallery__big-arrow_next


		.inner.bg-grey
			.content
				.content__title.js-gallery-counter 1/40

				.content__gallery
					.gallery.gallery_scroll
						.gallery__scroll.js-scroll-wrap.js-slick-bottom
							- for (var i = 1; i < 11; i++)
								.gallery__scroll-item(class= i == 1 ? 'is-active' : '')
									.gallery__scroll-inner(style='background-image: url(/img/temp/05.jpg)')
								.gallery__scroll-item
									.gallery__scroll-inner(style='background-image: url(/img/temp/08.jpg)')
								.gallery__scroll-item
									.gallery__scroll-inner(style='background-image: url(/img/temp/09.jpg)')
								.gallery__scroll-item
									.gallery__scroll-inner(style='background-image: url(/img/temp/10.jpg)')


