extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content
	#fp
		section.section.welcome
			.inner
				.welcome__bg
					ul.welcome__carousel
						li.welcome__carousel-item(style='background-image:url(/img/screen_welcome-bg.jpg);')
						li.welcome__carousel-item(style='background-image:url(/img/screen_welcome-bg.jpg);')
						li.welcome__carousel-item(style='background-image:url(/img/screen_welcome-bg.jpg);')
						li.welcome__carousel-item(style='background-image:url(/img/screen_welcome-bg.jpg);')

				.welcome__title Best fitness practices in Germany
				.welcome__group
					.welcome__group-item: img(src='/img/partners/tubw.png', alt='')
					.welcome__group-item: img(src='/img/partners/dtu.png', alt='')
					.welcome__group-item: img(src='/img/partners/etu.png', alt='')
					.welcome__group-item: img(src='/img/partners/wtf.png', alt='')
					.welcome__group-item: img(src='/img/partners/bs.png', alt='')
				.welcome__phone +49 (495) 154-65-65


		section.section.main
			.inner.bg-grey
				.section__title TAEKWONDO
				.blocks
					.blocks__list

						- var blocks1 = ['Was ist Taekwondo', 'Wettkampf', 'Kinder Taekwondo', 'Poomsae', 'Breitensport', 'Selbstverteidigung', 'Fitness', 'Der Verein'];
						- for (var i = 0; i < blocks1.length; i++)
							.blocks__item
								.blocks__item-inner
									.blocks__item-img(style='background-image: url(/img/temp/01.jpg)')
									a.blocks__item-link.js-load-inside(href='was_ist_taekwondo.html')
									.blocks__item-note: span= blocks1[i]

		section.section.gym
			.double
				.inner.bg-grey
					.section__title Zurich Classic Gym #[a.btn.js-load-inside(href='gallery_zurich_classic_gym.html') GALLERY]
					.gym__item
						.gym__map
						.gym__info.gym__info_time
							.gym__info-table
								.gym__info-cell Training Time in Baden-Baden
								.gym__info-cell.gym__info-cell_time #[i.ico] #[span 16 - 20]
						.gym__info.gym__info_schedule
							.gym__schedule-table
								.gym__info-cell Kids from 4-12 years
								.gym__info-cell.gym__info-cell_day Montag<br>Mittwoch<br>Freitag
								.gym__info-cell.gym__info-cell_time 17:30-18:30<br>17:00-18:00<br>16:00-17:00
						.gym__info.gym__info_schedule.gym__info_last
							.gym__schedule-table
								.gym__info-cell Kinder und Jugendliche ab 12 Jahren
								.gym__info-cell.gym__info-cell_day Montag<br>Mittwoch<br>Freitag (Friday)
								.gym__info-cell.gym__info-cell_time 18:30-20:00<br>18:00-19:00<br>17:00-18:00

				.inner.bg-grey
					.section__title Berlin High Class Cub #[a.btn.js-load-inside(href='gallery_zurich_classic_gym.html') GALLERY]
					.gym__item
						.gym__map
						.gym__info.gym__info_time
							.gym__info-table
								.gym__info-cell Trainings time in Karlsruhe
								.gym__info-cell.gym__info-cell_time #[i.ico] #[span 16 - 20]
						.gym__info.gym__info_schedule
							.gym__info-table
								.gym__info-cell Kinder und Erwachsene
								.gym__info-cell.gym__info-cell_day Montag#[br]Dienstag#[br]Donnerstag
								.gym__info-cell.gym__info-cell_time 19:00-20:30#[br]20:00-22:00#[br]19:00-20:30
						.gym__info.gym__info_schedule.gym__info_last
							.gym__info-table
								.gym__info-cell Kindertraining
								.gym__info-cell.gym__info-cell_day Freitag
								.gym__info-cell.gym__info-cell_time 16:00-17:30


		section.section.coaches
			.double
				.inner.bg-grey
					.section__title OUR MASTERS
					.coaches__ledend
						.coaches__ledend-item Dan
						.coaches__ledend-item license
						.coaches__ledend-item How long
					.coaches__list
						.masters
							.masters__list
								+mastersItem('Zoran Bregovich', '1', 'A', '6 year', true)
								+mastersItem('Konstantinopolsky K.', '2', 'B', '10 year', false)
								+mastersItem('Master Masters', '2', 'C', '3 year', false)
								+mastersItem('Konstantinopolsky K.', '4', 'B', '4 year', false)
								+mastersItem('Konstantinopolsky K.', '5', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', '6', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', '7', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', '8', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', '9', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', 'yellow', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', 'green', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', 'blue', 'B', '6 year', false)
								+mastersItem('Konstantinopolsky K.', 'red', 'B', '6 year', false)
					.coaches__control
						.coaches__control-arrow.coaches__control-arrow_next
						.coaches__control-arrow.coaches__control-arrow_prev
						.coaches__control-more
							a.btn.js-load-inside(href='all_masters.html') VIEW ALL
				.inner
					.coaches__card
						.coaches__card-info
							.coaches__card-img: img(src='/img/temp/03.jpg')
							.coaches__card-about
								.coaches__card-name Zoran Bregovich
								.coaches__card-status Fitness Instructor
								.coaches__card-regalia
									.coaches__card-regalia-item
										.view: span: i.ico.ico_dan.ico_dan-6
										.text: span 6 dan
									.coaches__card-regalia-item
										.view: span: i.ico.ico_license A
										.text: span License A
									.coaches__card-regalia-item
										.view: span 6 yers
										.text: span 6 yers of Experience

								.coaches__card-text Jeannie is a Wellness & Movement Strategist, Award Winning Author and Entrepreneur. She has been teaching Pilates since 2008. Jeannie trained with internationally renowned organisations - Polestar Pilates, Body Control Pilates and is a Pilates since 2008. Jeannie trained with internationally renowned organisations - Polestar Pilates, Body Control estar Pilates, Body Control Pilates and is a Pilates since 2008... #[a(href="#") More]

						.coaches__card-gallery
							.coaches__card-gallery-title GALLERY
							.coaches__card-gallery-arrows
								.coaches__card-gallery-arrow.coaches__card-gallery-arrow_prev
								.coaches__card-gallery-arrow.coaches__card-gallery-arrow_next
							.coaches__card-gallery-list
								.coaches__card-gallery-item
									.coaches__card-gallery-img(style='background-image: url(/img/temp/04.jpg)')
								.coaches__card-gallery-item
									.coaches__card-gallery-img(style='background-image: url(/img/temp/04.jpg)')
								.coaches__card-gallery-item
									.coaches__card-gallery-img(style='background-image: url(/img/temp/04.jpg)')
								.coaches__card-gallery-item
									.coaches__card-gallery-img(style='background-image: url(/img/temp/04.jpg)')
								.coaches__card-gallery-item
									.coaches__card-gallery-img(style='background-image: url(/img/temp/04.jpg)')
								.coaches__card-gallery-item
									.coaches__card-gallery-img(style='background-image: url(/img/temp/04.jpg)')
							.coaches__card-gallery-control
								a.btn(href='#') SIGN UP TRIAL LESSIONS
								a.btn.fl-r.js-load-inside(href='zoran_bregovich.html') MORE

		section.section.events
			.double
				.inner.bg-grey
					.section__title PAST EVENTS
						a.btn.js-load-inside(href='all_past-events.html') VIEW ALL
					.events__menu
						.events__menu-item.is-active AUGUST
						.events__menu-item SEPTEMBER
						.events__menu-item OCTOBER
					.events__list.js-scroll-wrap
						.event
							- for (var i = 0; i < 10; i++)
								.event__item
									.event__item-photo
										img(src='/img/temp/05.jpg', alt='')
										a.event__item-link.js-load-inside(href='taekwondo_internatioanl_championship_in_munich.html')
									.event__item-info
										.event__item-title Taekwondo Internatioanl Championship in Munich
										.event__item-date #[i.ico] #[span 22-24 november 2016]


				.inner
					.section__title UPCOMING EVENTS
						a.btn.js-load-inside(href='all_upcoming-events.html') VIEW ALL
					.events__menu
						.events__menu-item AUGUST
						.events__menu-item.is-active SEPTEMBER
						.events__menu-item OCTOBER
					.events__list.js-scroll-wrap
						.event
							- for (var i = 0; i < 10; i++)
								.event__item
									.event__item-photo
										img(src='/img/temp/05.jpg', alt='')
										a.event__item-link.js-load-inside(href='taekwondo_internatioanl_championship_in_munich.html')
									.event__item-info
										.event__item-title Taekwondo Internatioanl Championship in Munich
										.event__item-date #[i.ico] #[span 22-24 november 2016]



		section.section.sponsors
			.inner.bg-grey
				.section__title SPONSOREN

				.blocks
					.blocks__list

						- var blocks2 = ['Was ist Taekwondo', 'ADIDAS', 'SPORT-THIEME', 'NETBANK ', 'KWON', 'BUDOTFN', 'ELITE MEDTRAVEL', 'BADEN WERBUNG'];
						- for (var j = 1; j <= blocks2.length; j++)
							.blocks__item
								.blocks__item-inner
									.blocks__item-img(style='background-image: url(/img/sponsors/0#{j}.png)')
									.blocks__item-note: span= blocks2[j]


		section.section.price
			.double
				.inner.bg-grey.va-middle
					.va-middle__inner
						.section__title OUR PRICING
						.price__value 200 $ per month
						.price__text.c-yell You pay once and never regret!

				.inner.va-middle
					.va-middle__inner
						.section__title HAVE A QUESTION? #[span.c-yell LET US KNOW]
						.price__form
							form.form.js-form(method='post', action='/data/test.json')
								.form__half
									.form__field
										input(type='text', name='name', placeholder='NAME', data-required='true')
									.form__field
										input(type='text', name='email', placeholder='E-MAIL', data-required='email')
								.form__half
									.form__field
										textarea(name='message', placeholder='ENQUIRY', data-required='true')
								.form__half
									.form__field.form__field_submit
										input.btn(type='submit', value='SEND')


		section.section.contact
			.double
				.inner.bg-grey
					.section__title CONTACT

					.contact__title Our studio

					.contact__text
						p Taekwondo Trainingszentrum Mittelbaden e.V

						p #[span.c-yell Vorstand:]  Schneider Alexander<br>#[span.c-yell Vorstand:]  Jürgen Dierlein
						br

						p.c-yell #[i.ico: img(src='/img/ico/ico-contact-location.svg')] Schwarzwaldstr. 95 D 76532 Baden-Baden

						p.c-yell #[i.ico: img(src='/img/ico/ico-contact-mail.svg')] info@ttm-team.de

				.inner.va-middle
					.va-middle__inner
						.contact__title Follow us and join
						.contact__soc
							a(href='#').contact__soc-item.contact__soc-item_vk: img(src='/img/ico/ico-fb-w.svg')
							a(href='#').contact__soc-item.contact__soc-item_tw: img(src='/img/ico/ico-tw-w.svg')
							a(href='#').contact__soc-item.contact__soc-item_ig: img(src='/img/ico/ico-vk-w.svg')
