extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content
	.inner
		p: a(href='home.html') HOME
		p: a(href='all_masters.html') ALL MASTERS
		p: a(href='all_past-events.html') ALL PAST EVENTS
		p: a(href='all_upcoming-events.html') ALL UPCOMING EVENTS
		p: a(href='was_ist_taekwondo.html') Was ist Taekwondo
		p: a(href='zoran_bregovich.html') Zoran Bregovich
		p: a(href='gallery_zurich_classic_gym.html') Gallery Zurich Classic Gym
		p: a(href='taekwondo_internatioanl_championship_in_munich.html') Taekwondo Internatioanl Championship in Munich