extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var inside = true;
	- var insideTitle = 'ALL MASTERS';

block inside
	.double
		.inner
			.content
				.content__coach
					.coaches__card
						.coaches__card-info
							.coaches__card-img: img(src='/img/temp/03.jpg')
							.coaches__card-about
								.coaches__card-name Zoran Bregovich
								.coaches__card-status Fitness Instructor
								.coaches__card-regalia
									.coaches__card-regalia-item
										.view: span: i.ico.ico_dan.ico_dan-6
										.text: span 6 dan
									.coaches__card-regalia-item
										.view: span: i.ico.ico_license A
										.text: span License A
									.coaches__card-regalia-item
										.view: span 6 yers
										.text: span 6 yers of Experience



				.content__text.js-scroll-wrap.js-slick-bottom
					p Beginning in 1945, shortly after the end of the occupation of Korea by Imperial Japan, new martial arts schools called kwans were opened in Seoul. These schools were established by Korean martial artists who had studied primarily in Japan during the Japanese rule. The umbrella term traditional taekwondo typically refers to the martial arts practiced by the kwans during the 1940s and 1950s, though in reality the term "taekwondo" had not yet been coined at that time, and indeed each kwan was practicing their own unique style of martial art. During this timeframe taekwondo was also adopted for use by the South Korean military, which increased its popularity among civilian martial arts schools.
					p After witnessing a martial arts demonstration by the military in 1952, South Korean President Syngman Rhee urged that the martial arts styles of the kwans be merged. Beginning in 1955 the leaders of the kwans began discussing in earnest the possibility of creating a unified style of Korean martial arts. The name Tae Soo Dowas used to describe this notional unified style. This name consists of the hanja tae "to stomp, trample", su "hand" and do "way, discipline".
					p Choi Hong Hi advocated the use of the name Tae Kwon Do, i.e. replacing su "hand" by kwon "fist", the term also used for "martial arts" in Chinese (pinyin quán). The new name was initially slow to catch on among the leaders of the kwans. In 1959 the Korea Taekwondo Association (KTA) was established to facilitate the unification of Korean martial arts. In 1966, Choi established the International Taekwon-Do Federation (ITF) as a separate governing body devoted to institutionalizing a common style of taekwondo. [2][3]
					p Cold War politics of the 1960s and 1970s complicated the adoption of ITF-style taekwondo as a unified style, however. The South Korean government wished to avoid North Korean influence on the martial art. Conversely, ITF president Choi Hong Hi sought support for the martial art from all quarters, including North Korea. In response, in 1973 South Korea withdrew its support for the ITF. The ITF continued to function as an independent federation, then headquartered in Toronto, Canada; Choi continued to develop the ITF-style, notably with the 1987 publication of his Encyclopedia of Taekwondo. After Choi's retirement the ITF split in 2001 and then again in 2002 to create three separate federations each of which continues to operate today under the same name. [2][3]
					p Beginning in 1945, shortly after the end of the occupation of Korea by Imperial Japan, new martial arts schools called kwans were opened in Seoul. These schools were established by Korean martial artists who had studied primarily in Japan during the Japanese rule. The umbrella term traditional taekwondo typically refers to the martial arts practiced by the kwans during the 1940s and 1950s, though in reality the term "taekwondo" had not yet been coined at that time, and indeed each kwan was practicing their own unique style of martial art. During this timeframe taekwondo was also adopted for use by the South Korean military, which increased its popularity among civilian martial arts schools.
					p After witnessing a martial arts demonstration by the military in 1952, South Korean President Syngman Rhee urged that the martial arts styles of the kwans be merged. Beginning in 1955 the leaders of the kwans began discussing in earnest the possibility of creating a unified style of Korean martial arts. The name Tae Soo Dowas used to describe this notional unified style. This name consists of the hanja tae "to stomp, trample", su "hand" and do "way, discipline".
					p Choi Hong Hi advocated the use of the name Tae Kwon Do, i.e. replacing su "hand" by kwon "fist", the term also used for "martial arts" in Chinese (pinyin quán). The new name was initially slow to catch on among the leaders of the kwans. In 1959 the Korea Taekwondo Association (KTA) was established to facilitate the unification of Korean martial arts. In 1966, Choi established the International Taekwon-Do Federation (ITF) as a separate governing body devoted to institutionalizing a common style of taekwondo. [2][3]
					p Cold War politics of the 1960s and 1970s complicated the adoption of ITF-style taekwondo as a unified style, however. The South Korean government wished to avoid North Korean influence on the martial art. Conversely, ITF president Choi Hong Hi sought support for the martial art from all quarters, including North Korea. In response, in 1973 South Korea withdrew its support for the ITF. The ITF continued to function as an independent federation, then headquartered in Toronto, Canada; Choi continued to develop the ITF-style, notably with the 1987 publication of his Encyclopedia of Taekwondo. After Choi's retirement the ITF split in 2001 and then again in 2002 to create three separate federations each of which continues to operate today under the same name. [2][3]

		.inner.bg-grey
			.content
				.content__title Gallery

				.content__gallery
					.gallery.gallery_preview
						.gallery__big
							.gallery__big-list
								- for (var i = 0; i < 10; i++)
									.gallery__big-item(style='background-image: url(/img/temp/06.jpg)')
							.gallery__big-control
								.gallery__big-arrow.gallery__big-arrow_prev
								.gallery__big-arrow.gallery__big-arrow_next
						.gallery__preview
							- for (var i = 0; i < 10; i++)
								.gallery__preview-item
									.gallery__preview-inner(style='background-image: url(/img/temp/04.jpg)')


