.aside{
	width: $asideWidth;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: $colorDeepGrey;
	z-index: 10;
	@include box-shadow(5px 0 5px rgba(0,0,0,0.5));
	overflow: hidden;

	@include transition(width .3s ease);

	._nav-open &{
		width: 100%;
	}


	&__logo{
		display: block;
		position: absolute;
		@include pxToRem(width, 80);
		@include pxToRem(height, 40);
		left: ($asideWidth / 2);
		top: 10.15%;
		@include pxToRem(margin-left, -40);
		@include pxToRem(margin-top, -20);
		background: url("/img/logo-w.svg") no-repeat 0 0;
		background-size: contain;
		@include transition(all .3s ease);

		._nav-open &{
			@include pxToRem(width, 400);
			@include pxToRem(height, 115);
			@include pxToRem(margin-left, -20);
			background-image: url("/img/logo-y.svg");
		}
	}

	&__handle{
		position: absolute;
		top: 26.67%;
		left: ($asideWidth / 2);
		@include pxToRem(width, 36);
		@include pxToRem(height, 36);
		@include pxToRem(margin-left, -18);
		@include pxToRem(margin-top, -18);
		cursor: pointer;

		i{
			position: absolute;
			display: block;
			@include pxToRem(width, 34);
			@include pxToRem(height, 5);
			@include pxToRem(margin-left, -17);
			@include pxToRem(margin-top, -2);
			top:50%;
			left: 50%;
			background: $colorYellow;
			border-radius: 10rem;
			@include transition(all 0.3s ease);

			._nav-open &{
				@include pxToRem(width, 4);
				@include pxToRem(margin-left, -2);
			}

			&:before,
			&:after{
				content: '';
				display: block;
				position: absolute;
				@include pxToRem(width, 34);
				@include pxToRem(height, 5);
				@include pxToRem(margin-left, -17);
				left: 50%;
				background: $colorYellow;
				border-radius: 10rem;
				@include transition(all 0.3s ease);
				@include transform(rotate(0deg));
			}


			&:after{
				@include pxToRem(top, -11);

				._nav-open &{
					@include transform(rotate(45deg));
					@include pxToRem(top, 0);
				}
			}

			&:before{
				@include pxToRem(top, 11);

				._nav-open &{
					@include transform(rotate(135deg));
					@include pxToRem(top, 0);
				}
			}
		}


		&:hover{
			i{
				&:after{
					//@include pxToRem(top, -14);
				}

				&:before{
					//@include pxToRem(top, 14);
				}
			}
		}
	}



	&__nav{
		position: absolute;
		top: 38%;
		left: 0;
		width: $asideWidth;

		@include transition(left 0.3s ease);

		._nav-open &{
			left: - $asideWidth;
		}
	}


	&__soc{
		position: absolute;
		bottom: 7%;
		left: 0;
		width: $asideWidth;

		&-item{
			display: block;
			margin: 0 auto;
			@include pxToRem(width, 50);
			@include pxToRem(height, 50);

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		@include transition(left 0.3s ease);

		._nav-open &{
			left: - $asideWidth;
		}
	}


	&__content{
		@include pxToRem(padding-left, 190);
		@include pxToRem(padding-top, 245);
		width: calc(100vw);
		@include box-sizing();
		color: #fff;

		&-list{

			@include pxToRem(font-size, 72);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
			float: left;
		}

		&-info{

			@include pxToRem(font-size, 48);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
			margin-left: 52%;

			.soc{
				&__list{}

				&__item{
					display: inline-block;
					@include pxToRem(width, 110);
					@include pxToRem(height, 110);
					background: $colorDeepGrey;
					border-radius: 50%;
					@include pxToRem(margin, 0, 20);

					img{
						display: block;
						width: 100%;
						height: 100%;
					}

					&:hover{
						background: $colorGrey;
					}
				}
			}
		}

		&-contacts{
			@include pxToRem(height, 335);
		}
	}
}



.nav{

	&__item{

		display: block;
		text-align: center;
		@include pxToRem(margin-bottom, 15);

		a{
			display: inline-block;
			margin: 0 auto;
			@include pxToRem(width, 9);
			@include pxToRem(height, 9);
			background: #fff;
			border: solid $colorDeepGrey;
			border-radius: 50%;
			@include pxToRem(border-width, 3);
		}

		&.active{

			a{
				background: $colorYellow;
				border-color: $colorYellow;
			}
		}
	}
}