@import url('https://fonts.googleapis.com/css?family=Dosis:500,700');


//font-family: 'Dosis', sans-serif;

/*
@font-face {
	font-family: 'fbt';
	src: url('/fonts/fbtb.eot');
	src: local('☺'),
	url('/fonts/fbtb.woff') format('woff'),
	url('/fonts/fbtb.ttf') format('truetype'),
	url('/fonts/fbtb.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'fbt';
	src: url('/fonts/fbt.eot');
	src: local('☺'),
	url('/fonts/fbt.woff') format('woff'),
	url('/fonts/fbt.ttf') format('truetype'),
	url('/fonts/fbt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'fbt';
	src: url('/fonts/fbtb_b.eot');
	src: local('☺'),
	url('/fonts/fbtb_b.woff') format('woff'),
	url('/fonts/fbtb_b.ttf') format('truetype'),
	url('/fonts/fbtb_b.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}


