.inside{

	&.is-loading{
		&:before{
			content: '';
			position: absolute;
			@include pxToRem(width, 200);
			@include pxToRem(height, 200);
			@include pxToRem(margin-left, -100);
			@include pxToRem(margin-top, -100);
			top: 50%;
			left: 50%;
			background: url("/img/loading.svg") no-repeat 50% 50%;
			background-size: 90% 90%;
			z-index: 999;
		}
	}


	&__back{
		width: $asideWidth;
		background: $colorYellow;
		height: 100%;
		position: fixed;
		top: 0;
		left: -$asideWidth;
		z-index: 10;

		@include transition(left 0.3s ease);

		.show-inside &{
			left: 0;
		}


		&-link{

			position: absolute;
			@include pxToRem(width, 50);
			@include pxToRem(height, 50);
			border-radius: 50%;
			background: #fff url("/img/arrow-back.svg") no-repeat 0 0;
			background-size: cover;
			left: 50%;
			@include pxToRem(margin-left, -25);
			@include pxToRem(top, 90);
			cursor: pointer;

			&:hover{
				background-position: 0 100%;
			}
		}

		&-title{
			position: absolute;
			@include pxToRem(font-size, 36);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@include transform-origin(0 50%);
			@include transform(rotate(90deg));
			left: 50%;
			@include pxToRem(top, 190);
			max-width: calc( 100vh - 20rem );
		}
	}

	&__content{
		height: 100%;
		position: absolute;
		width: 100%;
		@include box-sizing();
		padding-left: $asideWidth;
		z-index: 9;
		right: -100%;
		top: 0;
		@include transition(right 0.5s ease);

		.show-inside &{
			right: 0;
		}
	}





	.content{
		height: 100%;

		&__title{
			@include pxToRem(font-size, 48);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
			@include pxToRem(margin-bottom, 50);



			&_sec{
				@include pxToRem(margin-top, 50);
				@include pxToRem(margin-bottom, 25);
			}
		}



		&__date{
			@include pxToRem(font-size, 24);
			@include pxToRem(margin-bottom, 30);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;

			.ico{
				@include pxToRem(width, 18);
				@include pxToRem(height, 21);
				background: url("/img/ico/ico-cal.svg") no-repeat 50% 50%;
				background-size: contain;
				display: inline-block;
				vertical-align: middle;
				@include pxToRem(margin-right, 17);
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}
		}

		&__menu{
			@include pxToRem(font-size, 18);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
			//@include pxToRem(width, 240);
			width: 16%;
			float: left;

			&-list{
				@include pxToRem(max-height, 680);

				.content__menu-list{
					@include pxToRem(margin-left, 20);
					display: none;
				}

			}

			&-item{


				&.is-active{
					color: $colorYellow;
				}


				&.is-open {
					.content__menu-list {
						display: block;
					}
				}
			}

			&-link{
				font: inherit;
				display: block;

				@include pxToRem(padding, 10, 0);
			}
		}


		&__scroll{
			margin-left: 18.2%;
			@include pxToRem(max-height, 680);
			overflow: auto;

			.event{
				font-size: 0;

				&__item{
					display: inline-block;
					@include pxToRem(width, 530);
					max-width: 46%;
					@include pxToRem(margin-bottom, 75);

					&:nth-of-type(2n-1){
						//@include pxToRem(margin-right, 100);
						margin-right: 7.57%;
					}
				}
			}

			.masters{

				font-size: 0;

				&__item{
					text-align: center;
					display: inline-block;
					vertical-align: top;
					@include pxToRem(width, 220);
					@include pxToRem(margin-bottom, 70);
					margin-right: calc((100% - 55rem) / 4);

					&:nth-of-type(4n){
						margin-right: 0;
					}


					&-img{
						position: relative;
						@include pxToRem(width, 156);
						margin: 0 auto;
						@include pxToRem(margin-bottom, 35);

						img{
							@include pxToRem(width, 156);
							@include pxToRem(height, 156);
							margin: 0 auto;
						}
					}
					
					&-link{

						position: absolute;
						right: 0;
						bottom: 0;

						a{
							background-image: url("/img/open-blank.svg");
						}
					}

					&-name{
						@include pxToRem(margin-bottom, 25);
					}

					&-info{

					}

					&-dan{
						display: inline-block;
						vertical-align: middle;
						@include pxToRem(margin-right, 50);
					}

					&-license{
						display: inline-block;
						vertical-align: middle;
						@include pxToRem(margin-right, 50);
					}

					&-exp{
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}



		.coaches{

			&__card{
				&-info{
					min-height: 0;
					@include pxToRem(margin-bottom, 40);
				}
			}
		}

		&.bg-grey{
			color: #fff;
		}



		&__text{
			overflow: auto;
			@include pxToRem(height, 420);
			@include pxToRem(font-size, 18);

			p{
				@include pxToRem(padding-right, 40);
				@include pxToRem(margin-bottom, 20);
			}
		}


		&__gallery{


			.gallery{

				&_preview{
					.gallery__big{
						@include pxToRem(height, 480);
						@include pxToRem(margin-bottom, 40);
					}
				}

				&__big{
					@include pxToRem(height, 690);
					position: relative;

					&-item{
						height: 100%;
						@include pxToRem(border-radius, 5);
						background: no-repeat 50% 50%;
						background-size: cover;
					}

					&-list{
						height: 100%;
						overflow: hidden;
						@include pxToRem(border-radius, 5);
					}

					.slick-list,
					.slick-track{
						height: 100%;
					}

					&-control{
						position: absolute;
						right: 0;
						@include pxToRem(bottom, -25);
						z-index: 1;
						font-size: 0;
					}

					&-arrow{
						display: inline-block;
						@include pxToRem(width, 50);
						@include pxToRem(height, 50);
						border-radius: 50%;
						background: #fff no-repeat 0 0;
						background-size: cover;
						cursor: pointer;
						@include pxToRem(margin-right, 15);

						&:hover{
							background-position: 0 100%;
						}

						&_prev{
							background-image: url("/img/ico/btn-prev.svg");
						}
						&_next{
							background-image: url("/img/ico/btn-next.svg");
						}
					}
				}

				&__preview{
					@include pxToRem(height, 155);
					overflow: hidden;
					@include pxToRem(margin, 0, -10);

					&-item{
						@include pxToRem(padding, 0, 10);
						width: (100% / 3);
						float: left;
						@include box-sizing();

						&.slick-current{
							.gallery__preview-inner{
								position: relative;

								&:before{
									content: '';
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									border: solid $colorYellow;
									@include pxToRem(border-width, 2);
									@include pxToRem(border-radius, 5);
									background: rgba($colorYellow, 0.5);
								}
							}
						}
					}

					&-inner{
						@include pxToRem(height, 155);
						@include pxToRem(border-radius, 5);
						background: no-repeat 50% 50%;
						background-size: cover;
					}
				}

				&__scroll{
					font-size: 0;
					//overflow: auto;
					height: 100%;
					//@include pxToRem(margin-right, -50);
					//@include pxToRem(padding-right, 50);

					.mCustomScrollBox{
						@include pxToRem(margin-right, -50);
						@include pxToRem(padding-right, 50);
					}
					.mCSB_scrollTools{
						//@include pxToRem(right, -50);
					}

					&-item{
						display: inline-block;
						vertical-align: top;
						width: (100% / 3);
						@include pxToRem(height, 150);
						@include pxToRem(margin-bottom, 20);
						@include pxToRem(padding, 0, 10);
						@include box-sizing();
						cursor: pointer;

						&:hover{
							.gallery__scroll-inner{
								position: relative;

								&:after{
									content: '';
									display: block;
									position: absolute;
									top:50%;
									left: 50%;
									@include pxToRem(width, 50);
									@include pxToRem(height, 50);
									@include pxToRem(margin-left, -25);
									@include pxToRem(margin-top, -25);
									background: #fff url("/img/ico/btn-search.svg") no-repeat 0 0;
									background-size: cover;
									border-radius: 50%;
									@include box-shadow();
								}

								&:before{
									content: '';
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									border: solid $colorYellow;
									@include pxToRem(border-width, 2);
									@include pxToRem(border-radius, 5);
								}
							}
						}

						&.is-active{
							.gallery__scroll-inner{
								position: relative;

								&:after{
									display: none !important;
								}

								&:before{
									content: '';
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									border: solid $colorYellow;
									@include pxToRem(border-width, 2);
									@include pxToRem(border-radius, 5);
									background: rgba($colorYellow, 0.5);
								}
							}
						}
					}

					&-inner{
						height: 100%;
						width: 100%;
						@include pxToRem(border-radius, 5);
						background: no-repeat 50% 50%;
						background-size: cover;
					}
				}
			}


		}


	}

}