html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	//font-size: 100.01%;
	//min-width: 1000px;
	min-height: $minHeight;
	min-width: $minWidth;
	font-size: 13.54px;

	@include breakpoint($bp){
		font-size: 16px;
	}
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	@include pxToRem(font-size, 16);
	line-height: 1.2;
	font-family: 'fbt', sans-serif;
	font-weight: 400;
	color: $colorDeepGrey;
}


.wrapper  {
	width: 100%;
	height: 100%;
	//min-height: 100%;
	position: relative;
	//height: auto !important;
	//overflow: hidden;

}


.website {
	position: relative;
	padding-left: $asideWidth;
	height: 100%;

}

.inner{
	height: 100%;
	//min-height: 100%;
	background: #fff;
	width: 100%;
	@include box-sizing();
	@include pxToRem(padding, 90, 75);

		//padding-top: calc( (100vh - 48.125rem) / 2 ); //770px
		//padding-bottom: calc( (100vh - 48.125rem) / 2 ); //770px

	.double &{
		width: 50%;
		float: left;
	}
}

.bg-grey{
	color: #fff;
	background: $colorGrey;
}

.double{
	height: 100%;
}

.fl-l{
	float: left;
}

.fl-r{
	float: right;
}

.btn{
	display: inline-block;
	@include pxToRem(line-height, 50);
	@include pxToRem(padding, 0, 50);
	@include pxToRem(border-radius, 50);
	background: $colorYellow;
	color: $colorDeepGrey;
	@include pxToRem(font-size, 14);
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
}



.ico{
	display: inline-block;
	vertical-align: middle;
	cursor: default;


	&_dan{
		@include pxToRem(width, 24);
		@include pxToRem(height, 32);
		background: no-repeat 50% 50%;
		background-size: contain;

		&-1{background-image: url("/img/ico/ico-dan_1.svg");}
		&-2{background-image: url("/img/ico/ico-dan_2.svg");}
		&-3{background-image: url("/img/ico/ico-dan_3.svg");}
		&-4{background-image: url("/img/ico/ico-dan_4.svg");}
		&-5{background-image: url("/img/ico/ico-dan_5.svg");}
		&-6{background-image: url("/img/ico/ico-dan_6.svg");}
		&-7{background-image: url("/img/ico/ico-dan_7.svg");}
		&-8{background-image: url("/img/ico/ico-dan_8.svg");}
		&-9{background-image: url("/img/ico/ico-dan_9.svg");}
		&-yellow{background-image: url("/img/ico/ico-dan_yell.svg");}
		&-red{background-image: url("/img/ico/ico-dan_red.svg");}
		&-blue{background-image: url("/img/ico/ico-dan_blue.svg");}
		&-green{background-image: url("/img/ico/ico-dan_green.svg");}
	}


	&_license{
		font-style: normal;
		@include pxToRem(width, 20);
		@include pxToRem(height, 25);
		border: solid currentColor;
		@include pxToRem(border-width, 2);
		@include pxToRem(border-radius, 4);
		@include pxToRem(line-height, 25);
		@include pxToRem(font-size, 14);
		text-align: center;
		font-family: 'Dosis', sans-serif;
		font-weight: 600;
		color: $colorYellow;
	}
}









section{
	width: 100%;
	height: 100%;
	position: relative;
	min-height: $minHeight;
}

.section{

	&__title{
		@include pxToRem(font-size, 48);
		font-family: 'Dosis', sans-serif;
		font-weight: 500;
	}
}

.welcome{

	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//background: url("/img/screen_welcome-bg.jpg") no-repeat 50% 50%;
		background-size: cover;
	}

	&__carousel{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&-item{
			height: 100%;
			background: no-repeat 50% 50%;
			background-size: cover;
		}

		.slick-track,
		.slick-list{
			height: 100%;
		}
	}

	&__title{
		position: absolute;
		top: 31.5%;
		font-family: 'fbt', sans-serif;
		font-weight: bold;
		color: #fff;
		text-shadow: 3px 3px 5px rgba(0,0,0,0.35);
		@include pxToRem(font-size, 72);
		text-align: center;
		left: 0;
		width: 100%;
	}

	&__group{
		position: absolute;
		top: 75.8%;
		@include pxToRem(height, 160);
		left: 0;
		width: 100%;
		@include pxToRem(padding, 14, 0);
		text-align: center;
		background: rgba(#5e5e5e, 0.8);
		@include box-sizing();

		&-item{
			display: inline-block;
			vertical-align: middle;
			@include pxToRem(margin, 0, 25);
			height: 100%;

			img{
				display: block;
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	&__phone{
		position: absolute;
		@include pxToRem(top, 30);
		@include pxToRem(right, 75);
		color: #fff;
		background: $colorDeepGrey;
		@include pxToRem(line-height, 50);
		@include pxToRem(font-size, 18);
		font-family: 'Dosis', sans-serif;
		font-weight: 500;
		@include pxToRem(padding, 0, 25);
		@include pxToRem(border-radius, 50);
	}
}




.blocks{

	&__list{
		font-size: 0;
		@include pxToRem(margin, 0, -11);
	}

	&__item{
		display: inline-block;
		width: 25%;


		&-inner{
			@include pxToRem(margin, 11);
			//@include pxToRem(border-radius, 5);
			@include pxToRem(height, 333);
			position: relative;
			overflow: hidden;
		}

		&-img{
			@include pxToRem(border-radius, 5, 5, 0, 0);
			height: (100% - 20.4%);
			background: #fff no-repeat 50% 50%;
			background-size: cover;
		}
		&-link{
			position: absolute;
			@include pxToRem(width, 50);
			@include pxToRem(height, 50);
			border-radius: 50%;
			background: #fff url("/img/open-blank.svg") no-repeat 0 0;
			background-size: cover;
			@include pxToRem(right, 20);
			@include pxToRem(margin-top, -35);
			top: (100% - 20.4%);
			cursor: pointer;
			@include box-shadow();

			&:hover{
				background-position: 0 100%;
			}
		}

		&-note{
			background: $colorDeepGrey;
			@include pxToRem(border-radius, 0, 0, 5, 5);
			height: 20.4%;
			color: #fff;
			@include pxToRem(padding, 0, 20);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			span{
				@include pxToRem(font-size, 24);
				display: inline-block;
				vertical-align: middle;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}


	}
}



.main{
	font-family: 'Dosis', sans-serif;
	.section__title{
		@include pxToRem(margin-bottom, 40);
	}
}





.gym{

	.section__title{
		@include pxToRem(margin-bottom, 50);

		.btn{
			float: right;
		}
	}

	&__item{

	}
	
	&__map{
		@include pxToRem(height, 420);
		background: #fff;
		@include pxToRem(border-radius, 5, 5, 0, 0);
	}

	&__info{

		&-table{
			display: table;
			width: 100%;
		}

		&-cell{
			display: table-cell;
			@include pxToRem(padding, 15, 30, 12);

			&_time{
				text-align: right;
				@include pxToRem(width, 125);

				.ico{
					display: inline-block;
					vertical-align: middle;
					@include pxToRem(width, 23);
					@include pxToRem(height, 23);
					background: url("/img/ico/ico-time.svg") no-repeat 50% 50%;
					background-size: contain;
					@include pxToRem(margin-right, 10);
				}

				span{
					display: inline-block;
					vertical-align: middle;
				}
			}

			&_day{
				text-align: right;
				@include pxToRem(width, 150);
			}
		}

		&_time{
			color: $colorDeepGrey;
			background: $colorYellow;
			@include pxToRem(font-size, 24);
			font-family: 'Dosis', sans-serif;
		}

		&_schedule{
			background: $colorDeepGrey;
			@include pxToRem(font-size, 18);
			@include pxToRem(min-height, 95);
		}

		&_last{
			@include pxToRem(border-radius, 0, 0, 5, 5);
			@include pxToRem(padding-bottom, 5);
			border-top: solid $colorGrey;
			@include pxToRem(border-width, 1);
		}

	}
	
	&__working{
		color: $colorDeepGrey;
		background: $colorYellow;
		@include pxToRem(font-size, 24);
		@include pxToRem(padding, 0, 30);
		overflow: hidden;

		&-text{
			float: left;
		}

		&-time{
			float: right;

			.ico{
				display: inline-block;
				vertical-align: middle;
				@include pxToRem(width, 23);
				@include pxToRem(height, 23);
				background: url("/img/ico/ico-time.svg") no-repeat 50% 50%;
				background-size: contain;
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	&__schedule{
		background: $colorDeepGrey;
		@include pxToRem(font-size, 18);

		&-table{
			display: table;
			width: 100%;

		}

		&-cell{
			display: table-cell;
		}
	}
}



















.va-middle{
	font-size: 0;
	height: 100%;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}


	.va-middle__inner{
		display: inline-block;
		vertical-align: middle;
		@include pxToRem(font-size, 14);
	}
}



.form{
	font-family: 'Dosis', sans-serif;
	@include pxToRem(font-size, 14);

	&__half{
		@include pxToRem(width, 300);
		@include pxToRem(margin-right, 10);
		float: left;
	}

	&__field{
		@include pxToRem(margin-bottom, 20);

		input{
			font: inherit;
			border: solid $colorDarkGrey;
			@include pxToRem(line-height, 50);
			border-width: 1px;
			@include pxToRem(border-radius, 25);
			@include pxToRem(padding, 0, 30);
			@include box-sizing();
			width: 100%;
		}

		textarea{
			font: inherit;
			border: solid $colorDarkGrey;
			border-width: 1px;
			@include pxToRem(border-radius, 25);
			@include pxToRem(padding, 20, 30);
			@include box-sizing();
			width: 100%;
			@include pxToRem(height, 124);
		}

		&_submit{

			input{
				border: 0;
			}
		}

		&.error{
			input,
			textarea{
				border-color: $colorRed;
			}
		}
	}
}


.price{

	.section__title{
		@include pxToRem(margin-bottom, 60);
	}

	&__value{
		@include pxToRem(font-size, 72);
		font-weight: 600;
		@include pxToRem(margin-bottom, 20);
	}

	&__text{
		@include pxToRem(font-size, 48);
		font-family: 'Dosis', sans-serif;
		font-weight: 500;
		@include pxToRem(margin-bottom, 55);
	}
}




.contact{

	.section__title{
		@include pxToRem(margin-bottom, 70);
	}

	&__title{
		@include pxToRem(font-size, 72);
		font-weight: 600;
		@include pxToRem(margin-bottom, 35);
	}


	&__text{

		@include pxToRem(font-size, 24);
		font-family: 'Dosis', sans-serif;

		p{
			@include pxToRem(margin, 15, 0);
		}

		.ico{
			display: inline-block;
			vertical-align: middle;
			@include pxToRem(width, 30);
			@include pxToRem(height, 30);
			margin-right: 10px;
			position: relative;
			@include pxToRem(top, -2);

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}


	&__soc{
		text-align: center;

		&-item{
			display: inline-block;
			@include pxToRem(width, 110);
			@include pxToRem(height, 110);
			background: $colorDeepGrey;
			border-radius: 50%;
			@include pxToRem(margin, 0, 20);

			img{
				display: block;
				width: 100%;
				height: 100%;
			}

			&:hover{
				background: $colorGrey;
			}
		}

	}

}





.masters{
	&__list{
	}

	&__item{

		&-inner{

		}

		&-img{
			text-align: center;

			img{
				display: block;
				@include pxToRem(width, 80);
				@include pxToRem(height, 80);
				border-radius: 50%;
			}
		}

		&-name{

			&-main{
				@include pxToRem(font-size, 24);
				@include pxToRem(margin-bottom, 5);
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-family: 'Dosis', sans-serif;
				font-weight: 500;
			}

			&-status{
				color: $colorLightGrey;
				@include pxToRem(font-size, 18);
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		&-dan{
		}

		&-license{
		}

		&-exp{
			@include pxToRem(font-size, 18);
			color: $colorYellow;
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
		}

		&-link{

			a{
				display: block;
				@include pxToRem(width, 50);
				@include pxToRem(height, 50);
				border-radius: 50%;
				background: #fff no-repeat 0 0;
				background-size: cover;
				@include box-shadow();
				position: relative;
				@include transition(left 0.3s ease);

				&:hover{
					background-position: 0 100%;
				}
			}
		}
	}
}



.coaches{

	.inner{
		position: relative;

		&:first-child{
			z-index: 1;
		}
	}

	.section__title{
		@include pxToRem(margin-bottom, 50);
	}


	.masters{
		&__list{
			@include pxToRem(height, 600);
			@include pxToRem(margin-right, -110);
			overflow: hidden;

		}

		&__item{
			@include pxToRem(padding, 10, 110, 10, 0);

			&-inner{
				display: table;
				width: 100%;
			}

			&-img{
				display: table-cell;
				vertical-align: middle;
				@include pxToRem(width, 122);
				text-align: center;
			}

			&-name{
				display: table-cell;
				vertical-align: middle;

				&-main{
					@include pxToRem(max-width, 245);
				}

				&-status{
					@include pxToRem(max-width, 245);
				}
			}

			&-dan{
				display: table-cell;
				vertical-align: middle;
				@include pxToRem(width, 100);
				text-align: center;
			}

			&-license{
				display: table-cell;
				vertical-align: middle;
				@include pxToRem(width, 100);
				text-align: center;
			}

			&-exp{
				display: table-cell;
				vertical-align: middle;
				@include pxToRem(width, 100);
				text-align: center;
			}

			&-link{
				display: table-cell;
				vertical-align: middle;
				text-align: right;
				@include pxToRem(width, 85);

				a{
					display: inline-block;
					background-image: url("/img/arrow-go.svg");
				}
			}


			&.is-active{
				.masters__item-link{
					a{
						@include pxToRem(left, 100);
						background-color: $colorYellow;

						&:hover{
							background-position: 0 0;
						}
					}
				}
			}
		}
	}

	
	&__control{
		overflow: hidden;
		@include pxToRem(margin-top, 40);
		
		&-arrow{
			display: inline-block;
			@include pxToRem(width, 50);
			@include pxToRem(height, 50);
			border-radius: 50%;
			background: #fff no-repeat 0 0;
			background-size: cover;
			cursor: pointer;
			@include pxToRem(margin-right, 15);

			&:hover{
				background-position: 0 100%;
			}
			
			&_prev{
				background-image: url("/img/ico/btn-up.svg");
			}
			&_next{
				background-image: url("/img/ico/btn-down.svg");
			}
		}
		
		&-more{
			float: right;
		}
	}


	&__ledend{
		position: absolute;
		@include pxToRem(right, 153);
		text-align: center;
		@include pxToRem(top, 108);

		&-item{
			@include pxToRem(font-size, 18);
			color: $colorLightGrey;
			@include pxToRem(width, 100);
			display: inline-block;
		}
	}


	&__card{

		&-info{
			overflow: hidden;
			@include pxToRem(min-height, 475);
		}

		&-img{
			width: 40%;
			float: left;
			@include pxToRem(padding-top, 10);

			img{
				max-width: 80%;
				display: block;
				@include pxToRem(border-radius, 5);
				@include pxToRem(max-height, 390);
			}
		}

		&-about{
			margin-left: 40%;
		}

		&-name{
			@include pxToRem(font-size, 36);
			font-family: 'Dosis', sans-serif;
			@include pxToRem(margin-bottom, 5);
		}

		&-status{
			@include pxToRem(font-size, 18);
			color: $colorLightGrey;
			@include pxToRem(margin-bottom, 20);
		}

		&-regalia{
			@include pxToRem(margin-bottom, 20);

			&-item{
				display: inline-block;
				vertical-align: top;
				width: 38%;
				overflow: hidden;

				.view{
					font-family: 'Dosis', sans-serif;
					font-weight: 500;
					text-align: center;
					@include pxToRem(font-size, 18);
					color: $colorDarkGrey;
					width: 30%;
					float: left;
					@include pxToRem(height, 50);

					&:before{
						content: '';
						vertical-align: middle;
						display: inline-block;
						height: 100%;
					}

					span{
						vertical-align: middle;
						display: inline-block;
					}

					.ico{
						color: $colorDarkGrey;
					}
				}
				.text{
					@include pxToRem(font-size, 16);
					color: $colorLightGrey;
					margin-left: 40%;
					@include pxToRem(height, 50);

					&:before{
						content: '';
						vertical-align: middle;
						display: inline-block;
						height: 100%;
					}

					span{
						vertical-align: middle;
						display: inline-block;
					}
				}
			}
		}

		&-text{
			width: 80%;

			a{
				color: $colorYellow;
				text-decoration: none;
			}
		}

		&-gallery{

			position: relative;

			&-title{
				@include pxToRem(font-size, 24);
				font-family: 'Dosis', sans-serif;
				font-weight: 500;
				@include pxToRem(margin-bottom, 35);
			}

			&-arrows{
				position: absolute;
				top: 0;
				right: 0;
			}

			&-arrow{
				display: inline-block;
				@include pxToRem(width, 50);
				@include pxToRem(height, 50);
				border-radius: 50%;
				background: $colorYellow no-repeat 0 0;
				background-size: cover;
				cursor: pointer;
				@include pxToRem(margin-left, 15);
				@include box-shadow();

				//&:hover{
				//	background-position: 0 100%;
				//}

				&_prev{
					background-image: url("/img/ico/btn-prev.svg");
				}

				&_next{
					background-image: url("/img/ico/btn-next.svg");
				}
			}

			&-list{
				@include pxToRem(height, 160);
				@include pxToRem(margin, 0, -10, 48);
			}

			&-item{
				width: 30%;
			}

			&-img{
				height: 160px;
				background: $colorGrey no-repeat 50% 50%;
				background-size: cover;
				@include pxToRem(border-radius, 5);
				@include pxToRem(margin, 0, 10);
			}

			&-control{

			}
		}
	}

}


.events{

	.section__title{
		@include pxToRem(margin-bottom, 50);

		.btn{
			float: right;
		}
	}

	&__menu{
		@include pxToRem(margin-bottom, 70);

		&-item{
			display: inline-block;
			vertical-align: top;
			@include pxToRem(font-size, 18);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
			@include pxToRem(margin-right, 35);
			cursor: pointer;

			color: $colorLightGrey;

			.bg-grey &{
				color: #fff;
			}

			&.is-active{
				color: $colorYellow;
			}
		}
	}

	&__list{
		@include pxToRem(height, 600);
		overflow: auto;

		.event{
			&__item{
				@include pxToRem(margin-bottom, 50);

				&-info{
					@include pxToRem(width, 300);
				}
			}
		}
	}
}


.event{

	&__item{

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		&-photo{
			float: left;
			@include pxToRem(width, 240);
			position: relative;

			img{
				display: block;
				width: 100%;
				@include pxToRem(border-radius, 5);
			}
		}


		&-link{
			position: absolute;
			@include pxToRem(width, 50);
			@include pxToRem(height, 50);
			border-radius: 50%;
			background: #fff url("/img/open-blank.svg") no-repeat 0 0;
			background-size: cover;
			@include pxToRem(right, 20);
			@include pxToRem(margin-top, -25);
			top: 100%;
			cursor: pointer;
			@include box-shadow();

			&:hover{
				background-position: 0 100%;
			}
		}

		&-info{
			@include pxToRem(margin-left, 300);
		}


		&-title{
			@include pxToRem(font-size, 24);
			font-family: 'Dosis', sans-serif;
			font-weight: 500;
			@include pxToRem(margin-bottom, 25);
		}

		&-date{
			color: $colorLightGrey;
			@include pxToRem(font-size, 18);

			.ico{
				@include pxToRem(width, 18);
				@include pxToRem(height, 21);
				background: url("/img/ico/ico-cal.svg") no-repeat 50% 50%;
				background-size: contain;
				display: inline-block;
				vertical-align: middle;
				@include pxToRem(margin-right, 17);
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}



